$background-color:grey;

body {
  background-color: $background-color;
  color: lighten($background-color,40%);
  font-size: 4em;
  font-family: "Avenir Next";
  display: flex;
  justify-content: center;
  align-items: center;
}
